<div class="panel"  style="float: right;width:69%;">
        <div class="panel-heading" >

            <div class="panel-title">
                <span class="col-lg-1 pull-left">执行结果</span>
                <div class="hide col-lg-11 pull-right ">
                    <div style="margin-bottom: 0;margin-top: 10px;" class="progress progress-xl">
                        <div id="percent" style="width: 0" class="progress-bar progress-bar-info"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div id="cmd_result">
            </div>
        </div>
    </div>