{% extends 'index.html' %}

{% block content-container %}
<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
    <h1 class="page-header text-overflow">Expanded Navigation</h1>
    {% csrf_token %}
    <!--Searchbox-->
    <div class="searchbox">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search..">
            <span class="input-group-btn">
                <button class="text-muted" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->


<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">批量命令</li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->


<!--Page content-->
<!--===================================================-->
<div id="page-content">
    <div class="panel" style="float: left;width: 30%;">
        <div class="panel-heading">
            <h3 class="panel-title">主机组</h3>
        </div>
        <div class="panel-body">
            <!--List Group with Badges-->
            <!--===================================================-->
            <ul class="list-group">
                {% for group in request.user.account.host_groups.all %}
                    <li class="list-group-item"><input onclick="checkall(this)" type="checkbox"><span style="cursor:pointer;" class="badge badge-primary" onclick="show_host_list(this)">{{ group.host_user_binds.count }}</span>{{ group.name }}</li>
                    <div style="margin-bottom: 10px;" class="host_bind hide">
                        {% for host_bind in group.host_user_binds.all %}
                            <div class="list-group-item" ><input  onclick="get_hosts()"  type="checkbox" value="{{ host_bind.id }}">{{ host_bind.host.ip_addr }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <li class="list-group-item" onclick="show_host_list(this)"><input onclick="checkall(this)" type="checkbox"> <span style="cursor:pointer;" class="badge badge-primary" onclick="show_host_list(this)">{{ request.user.account.host_user_binds.count }}</span>未分组</li>
                <div style="margin-bottom: 10px;" class="host_bind hide">
                    {% for host_bind in request.user.account.host_user_binds.all %}
                        <div class="list-group-item"><input onclick="get_hosts()" type="checkbox" value="{{ host_bind.id }}">{{ host_bind.host.ip_addr }}</div>
                    {% endfor %}
                </div>
            </ul>
            <!--===================================================-->
        </div>
    </div>
    <div class="panel"  style="float: right;width:69%;">
        <div class="panel-heading" >
            <h3 class="panel-title">命令</h3>
        </div>
        <div class="panel-body">
            <textarea id="task_body" class="form-control"></textarea>
            <a onclick="exec_cmd('cmd',this)" class="btn btn-info pull-right">执行</a>
            <a class="btn btn-danger pull-right">终止</a>
        </div>
    </div>
    <div class="panel"  style="float: right;width:69%;">
        <div class="panel-heading" >
            <h3 class="panel-title">执行结果</h3>
        </div>
        <div id="cmd_result" class="panel-body">

        </div>
    </div>

</div>
<!--===================================================-->
<!--End page content-->


{% endblock %}
{% block content_js %}
<script>

    function exec_cmd(cmd_type,self) {
        var $host_binds = get_hosts();
        if ($host_binds.length === 0){
            alert("请选择主机！");
            return false
        }

        var $task_boby = $("#task_body").val().trim();
        if ($task_boby.length === 0){
            //可优化
            alert("请输入命令！");
            return false
        }

        task_info = {
            'task_type':cmd_type,
            'host_binds':JSON.stringify($host_binds),
            'task_body':$task_boby
        };

        $.post("{% url 'multitask' %}",{
            'csrfmiddlewaretoken':'{{ csrf_token }}',
            'task_info':JSON.stringify(task_info)

        },function (data) {
            console.log(data);
            //获取任务执行结果
            var task_id = data;
            task_result(data);
            ret = setInterval(function () {
                    status = task_result(data);
                    if (status === 5){
                        clearInterval(ret)
                    }

                },2000)
        });

    }

    function task_result(task_id){
        var $result = 0;

        $.getJSON("{% url 'taskresult' %}",{'task_id':task_id},function(data){
            console.log(data);
            //将结果显示在前台
            $("#cmd_result").empty();
            $.each(data,function (index,result) {
                var $pre = $("<pre></pre>");
                $pre.text(result.result);
                $("#cmd_result").append($pre);
                if (Number(result.status) !== 0){
                    $result = Number(result.status) + Number($result);
                    console.log($result)
                }else{
                    $result = 0
                }
            })

        });
        return $result

    }


    function show_host_list(self) {
        $(self).parent().next().toggleClass('hide')
    }

    function checkall(self) {
        $(self).parent().next().find(":checkbox").prop('checked',$(self).prop('checked'));
        get_hosts()
    }

    function get_hosts() {
        $host_bind_list = [];
        $host_binds = $(".host_bind").find(":checked");
        $.each($host_binds,function (index,i) {
            $host_bind_list.push($(i).val())
        });

        return $host_bind_list
    }

</script>
{% endblock %}


