{% extends 'index.html' %}

{% block content-container %}
<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
    <h1 class="page-header text-overflow">Expanded Navigation</h1>
    {% csrf_token %}
    <!--Searchbox-->
    <div class="searchbox">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search..">
            <span class="input-group-btn">
                <button class="text-muted" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->


<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">批量命令</li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->


<!--Page content-->
<!--===================================================-->
<div id="page-content">

    {% include 'component/hostgroups.html' %}

    <div class="panel"  style="float: right;width:69%;">
        <div class="panel-heading" >
            <h3 class="panel-title">命令</h3>
        </div>
        <div class="panel-body">
            <textarea id="task_body" class="form-control"></textarea>
            <a onclick="exec_task('cmd',this)" class="btn btn-info pull-right">执行</a>
            <a class="btn btn-danger pull-right">终止</a>
        </div>
    </div>

    {% include 'component/taskresult.html' %}

</div>
<!--===================================================-->
<!--End page content-->


{% endblock %}
{% block content_js %}

    {% include 'component/multitaskjs.html' %}

{% endblock %}


